build
workspace
*.*fsl
*.*fasl
*.amd64f
*.x86f
*.abcl
*.xcl
*Makefile.xcvb
*~
*#
.#*
*.lisp-expr
*.lib
*.fas
*.[oa]
*.so
configure.mk
xcvb.mk
xcvb-ne.mk
obj
obj-ne
foo
bar
baz
quux
fare
sbrody
push
setup.lisp
foo.lisp
bug.lisp
xcvb-bootstrapped
todf
patches
commit.txt
examples/hello/xcvb-hello.asd
examples/hello/version.lisp
examples/example-1/obj
examples/example-1/example-1
version.text
