##### Example configuration file for the XCVB Makefile #####
##
## Copy this file to ../configure.mk and edit it,
## uncommenting and/or editing the lines that fit your configuration,
## commenting out or deleting those that don't.
##
## Note that this file also provides the defaults used in the release tarball.
##

## Prefix from which to deduce various default locations
PREFIX = /usr/local
#PREFIX = /usr
#PREFIX = /home/USER/.local


#### Where to install executables?
INSTALL_BIN = ${PREFIX}/bin
#INSTALL_BIN := /usr/bin
#INSTALL_BIN := /home/USER/bin


### Where to find run-time configuration?
INSTALL_ETC = ${PREFIX}/etc
#INSTALL_ETC := /etc
#INSTALL_ETC := /home/USER/.config


### Where to put shared stuff? [Only used indirectly below]
INSTALL_SHARE = ${PREFIX}/share
#INSTALL_SHARE := /usr/share
#INSTALL_ETC := /home/USER/.local/share

### Where to put manual pages? [Don't have any of them yet!]
##INSTALL_MAN = ${INSTALL_SHARE}/man
##INSTALL_MAN1 = ${INSTALL_MAN}/man1


### Image directory for lisp images.
## Make sure the directory exists and you can write to it:
## mkdir -p ${INSTALL_IMAGE} ; chown ${USER}.${GROUP} ${INSTALL_IMAGE}
INSTALL_IMAGE = ${PREFIX}/lib/common-lisp/images
#INSTALL_IMAGE := /usr/lib/common-lisp/images
#INSTALL_IMAGE := /home/USER/.local/lib/common-lisp/images


#### Where to install Lisp files?
INSTALL_LISP = ${INSTALL_SHARE}/common-lisp
#INSTALL_LISP := /usr/share/common-lisp
#INSTALL_LISP := /home/USER/.local/share/common-lisp

#### Where to install the XCVB driver files?
INSTALL_XCVB = ${INSTALL_LISP}/xcvb
#INSTALL_XCVB := /usr/share/common-lisp/xcvb
#INSTALL_XCVB := /home/USER/.local/share/common-lisp/xcvb


#### Where to find cl-launch?
##
## DEFAULT: look for it in your $PATH
CL_LAUNCH := cl-launch
##
## You may want a specific version stashed somewhere else
# CL_LAUNCH := /usr/bin/cl-launch
# CL_LAUNCH := /usr/local/bin/cl-launch
# CL_LAUNCH := /home/USER/bin/cl-launch
# CL_LAUNCH := ${INSTALL_BIN}/cl-launch


#### What options to pass to cl-launch?
##
## DEFAULT: nothing
## This assumes that the default will work because you have already configured
## cl-launch and/or the underlying Lisp implementation, so it will find all
## the required .asd's.
CL_LAUNCH_FLAGS :=
##
## If you want to specify a search order for Lisp implementations,
## you may do it as follows (see cl-launch documentation for details)
CL_LAUNCH_FLAGS += --lisp '${LISP} sbcl clisp ccl'
##
##
## If you need to specify one or several paths where .asd files reside
## that are needed by XCVB, use one or several --path flags
## DEFAULT: nothing (assume your /etc/sbclrc or ~/.sbclrc or equivalent does it)
CL_LAUNCH_FLAGS += --path ${INSTALL_LISP}/systems/
#CL_LAUNCH_FLAGS += --path /usr/share/common-lisp/systems/
#CL_LAUNCH_FLAGS += --path /home/USER/.local/share/common-lisp/systems/
##
##
## If you want to make sure that cl-launch uses installed include files
## (respectively, doesn't), use --include /a/b/c (respectively, --no-include)
## This matters in image and fasls modes, not in standalone mode (see below).
CL_LAUNCH_FLAGS += --no-include
#CL_LAUNCH_FLAGS += --include ${INSTALL_LISP}/cl-launch
#CL_LAUNCH_FLAGS += --include /usr/share/common-lisp/cl-launch
#CL_LAUNCH_FLAGS += --include /home/USER/.local/share/common-lisp/cl-launch
##
## Verbose output to debug XCVB compilation
#CL_LAUNCH_FLAGS += --verbose


#### What kind of executable to create?
##
## DEFAULT: This will create a script wrapping a dumped image.
## However, in this mode you *HAVE TO* define a IMAGE_DIR directory below.
#CL_LAUNCH_MODE := image
##
## This will create a script that will reload xcvb from fasl and
## recompile the source whenever it changes. For xcvb developers only.
#CL_LAUNCH_MODE := fasls
##
## This will create a standalone executable. The catch is that it requires
## cl-launch >=2.10 and sbcl >=1.0.22 or clisp >=2.48.
CL_LAUNCH_MODE := standalone
##
