;;;; -*- Lisp -*- ; Example on how I compiled Exscribe with XCVB. ;;;;

;;; After I converted Exscribe from ASDF to XCVB
;;; as described in exscribe-migration.lisp.example,
;;; I could compile it as follows:
; xcvb doc/exscribe-migration.lisp.example
; make -C /home/fare/fare/lisp/exscribe -f xcvb.mk


(in-package :xcvb)

;;; This is for my own debugging purposes.
#+commenting-this-line-enables-the-trace
(trace write-makefile get-lisp-implementation)
(define-lisp-implementation :test () :fullname "Test!")
(get-lisp-implementation :test)
(get-lisp-implementation :sbcl)


;;; And this is the compilation setup...
(defvar *build-dir* #p"/home/fare/fare/lisp/exscribe/") ;; Mind the trailing /
(setf *default-pathname-defaults* *build-dir*) ; alternatively, merge-pathnames setup.lisp below.
(setf *lisp-executable-pathname* "/usr/local/bin/sbcl")
(setf *lisp-setup-dependencies*
      '((:asdf "cl-launch") ;; Required by setup.lisp
	(:load-source "setup.lisp"))) ;; Importantly sets the asdf:*central-registry*
(write-makefile *build-dir*)
